{ "presets": [ "react", ["env", { "modules": false }] ],
  "plugins": [ "babel-plugin-transform-object-rest-spread" , "syntax-async-functions",
    "transform-class-properties", "react-hot-loader/babel" ]
}
