.button {
    @extend .br--white;
    @extend .rounded;
    @extend .bg--belize-hole;
    @extend .text--white;
    // required as using @extend
    // removes the prefix that adds border
    border: 1px solid;
    a {
        text-decoration: none;
    }
}

.calc-button {
    @extend .button;
    min-width: $spacing-3;
    height: $spacing-3;
}
