body {
    font-family: 'Open Sans', sans-serif;
}

a {
    @extend .text--white;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1, h2 {
    font-weight: bold;
}